.metadata-property[data-property-key="TagsS"] {
  display: none;
}
.metadata-property[data-property-key="BlockState"] {
  display: none;
}
.metadata-property[data-property-key="Localization"] {
  display: none;
}
.metadata-property[data-property-key="Sound"] {
  display: none;
}
.metadata-property[data-property-key="Recipe"] {
  display: none;
}
.metadata-property[data-property-key="Drops"] {
  display: none;
}
.metadata-property[data-property-key="Worldgen"] {
  display: none;
}
.metadata-property[data-property-key="Model"] {
  display: none;
}
.metadata-property[data-property-key="Texture"] {
  display: none;
}
.metadata-property[data-property-key="Logic"] {
  display: none;
}
.metadata-property[data-property-key="Age"] {
  display: none;
}